<html>
    <body>
        {{> header}}
       
       <div class="container">
       <h1 class="text-center" style="color: blue;">About Us</h1>
       <h2 class="text-center">Our Website will  Provide  you all  inforamtion related Tech And about Upcoming Technology and Gadgests</h2><br>
 <br>
   <div class="row">
       <div class="col-xl-6 img-thumbnail">
           <img src="tr.jpg" alt="tech"  style="height: 200px; width:300px">
       </div>
       <div class="col-xl-6 img-thumbnail" style="color:blue;">
       <h5>Get Latest Technology Tricks From  Our Techie,s</h5>
       <p> Latest Tricks is about all new tricks and hacks, this will inform you about trending deals and lots more.</p>
       </div>
   </div>

    <br>
   <div class="row">
       <div class="col-xl-6 img-thumbnail">
           <img src="t.jpg" alt="tech"  style="height: 200px; width:300px">
       </div>
       <div class="col-xl-6 img-thumbnail" style="color:blue;">
       <h5>Get Latest Upcoming Gadgests</h5>
       <p> Latest Upcoming Gadgests Review by Our Techie,s.</p>
       </div>
   </div>
   <br>

   <div class="row">
       <div class="col-xl-6 img-thumbnail">
           <img src="t1.jpg" alt="tech"  style="height: 200px; width:300px">
       </div>
       <div class="col-xl-6 img-thumbnail" style="color:blue;">
       <h5>Get More Knowledge About Andoid and about Andoid Versinos</h5>
       <p> Latest Version and New Roms And Stock Roms Get More inforamtion here .</p>
       </div>
   </div>


        </div>
        <pre>

            
        </pre>
        {{> footer}}

    </body>
</html>