<html>
    <head>{{> bot}}</head>
    <body>
        {{> header}}
     <marquee direction="right " scrollamount="25" style="color: blue;"><h1>Welcome on {{wel}}</h1> </marquee>
        
<img src="tech.jpg" alt="tech" style="height:500px; width:600px;" class="mx-auto d-block">

<div class="container">
<h3 class="text-center" style="color: blue;">Get Latest Technology Here</h3>
<center><div class="row">
    <div class="col-xl-4 ">
        <img src="ltech.jpg">
        <div class="img-caption">
             <a href="ltech.html" style="color: green;">
            <h2>Get Latest Technology</h2>
            <p>Latest and upcoming Technology</p>
            </a>
        </div>
    </div>
    <div class="col-xl-4  " >
        <img src="event.png " >
         <div class="img-caption">
            <a href="events.html" style="color: green;">
            
            <h2>Upcoming Events</h2>
            <p>Latest Tech Related Events</p>
            </a>

        </div>
    </div>
    <div class="col-xl-4  ">
        <img src="ltech.jpg">
         <div class="img-caption">
             <a href="gallary.html" style="color: green;">
            
            <h2>Gallary</h2>
            <p>Latest and upcoming Tech-Pictures</p>
            </a>
        </div>
    </div>
</center>



<pre>


</pre>
<h1 class="text-center" style="color: blue;">Get Easy way to understand Technology</h1>
<div class="row">
    <div class="col-xl-6">
        <div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/fYauw0167N8" ></iframe>
</div>
</div>
<div class="col-xl-6">
    <pre>



    </pre>
    <h2 style="color:green;">4 REAL Life Smartphone *HACKS* </h2>
    <h2 style="color:green;">MUST WATCH Cool New Android Tricks</h2>
</div>
    
</div>



</div>
<pre>


</pre>

</div>
      <{{> footer}}

    </body>
</html>