<!DOCTYPE html>
<html>
<head>
    {{> bot}}
</head>
<body>
    {{> header}}
    <div class="container">
        <<img src="1.png" alt="reach-us" class="mx-auto d-block">
        
        <table class="table table-bordered table-striped table-hover">
            <thead>
           <tr><th>Name</th><th>Deatils</th></tr>
            </thead>
            <tbody>
                <tr><td>Mobile Number</td><td>7872837842</td></tr>
            <tr><td>Email id </td><td>yourtechie@gmail.com</td></tr>
            <tr><td>Address</td><td>Street Cololny No.1123 Basti Guja Model Town ,Jalandhar ,Punajb </td></tr>
          <tr><td>Location</td><td><a href="https://www.google.co.in/maps/place/Basti+Sheikh,+Jalandhar,+Punjab+144002/data=!4m2!3m1!1s0x391a5ad1e2c6cb35:0xf35daaac87277ad6?sa=X&ved=2ahUKEwj44oHE0dXoAhVczzgGHWbCCCgQ8gEwAHoECAsQAQ" target="_blank" style="color:green;">Click  Here to Get Location</a></td></tr>
            </tbody>
        </table>
        

  <{{> footer}}
    </div>
</body>
</html>