<html>

    <head><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script></head>
   <style>
       a:link{
         
           color: white;
       }
       a:visited{
    
         color: white;
       }
       a:active{
         color: white;
         background-color: white;
       
       }
       a:hover{
         color: white;
         background-color: white;
       }

      
       
   </style>
    <body>
        
            
        <h1 class="text-center" style="color: blue;">Welcome on {{PageTitle}} Page</h1>


        <ul class="nav nav-tabs nav-justified bg-dark ">
  <li class="nav-item">
    <a class="nav-link " href="/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/about">About</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/contactus">Contact us</a>
  </li>
    <li class="nav-item">
    <a class="nav-link" href="/reachus">Reach us</a>
  </li>
</ul>

    
    </body>
</html>